* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1066px;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'PingFang SC';
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 行头 */
header {
    width: 100vw;
    height: 82px;
    background-color: #D67B60;
    display: flex;
}

.icons {
    width: 17.08vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.icons img {
    width: 100%;
    height: 100%;
}

.tuanhui {
    min-width: 55px;
    height: 57px;
}

.sune-logo {
    min-width: 66px;
    height: 75px;
    margin-top: 0.5rem;
}

.sune-font {
    min-width: 110px;
    height: 48px;
}

.sune-bg {
    width: 180px;
    height: 82px;
    margin-left: 4rem;
}

.sune-bg img {
    width: 100%;
    height: 100%;
}

.column {
    position: relative;
    margin-left: 2.5rem;
    margin-top: 1.2rem;
    color: #fff;
    font-family: 'PingFang SC';
    font-style: normal;
}

.column ul {
    display: flex;
}

.column li {
    margin-right: 0.5rem;
}

.column a {
    display: block;
    color: #fff;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2.5rem;
    transition: ease-in-out 0.4s;
}

.column a:hover {
    background-color: #fff;
    color: #D67B60;
    transition: ease-in-out 0.4s;
    border-radius: .35rem;
}

/* 轮播图 */
.swiper-bg {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.swiper-wrapper img {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 700vw;
    height: 100%;
    position: relative;
    display: flex;
    transition: ease-in-out .4s;
}

.swiper-wrapper li {
    width: 100vw;
    height: 100%;
}

.point { 
    position: absolute;
    display: flex;
    width: 8vw;
    height: 2vh;
    left: 46vw;
    top: 84vh;
    z-index: 100;
    justify-content: space-around;
}

.point span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.4s;
}

.point-active {
    background-color: #D67B60 !important;
    transition: all 0.4s;
}

/* 活动日历 */
.calendar-container {
    width: 90vw;
    height: 20vh;
    margin-left: 5vw;
    display: flex;
}

.calendar-title {
    margin: 1.7rem 0 0 1.3rem;
    width: 7rem;
    height: 7rem;
}

.calendar-title div {
    width: 100%;
    height: 3.5rem;
    font-size: 1.4rem;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
}

.calendar-title div:nth-child(1) {
    background-color: #9F181E;
    border: 2px solid #9F181E;
}

.calendar-title div:nth-child(2) {
    border: 2px solid #F2DC86;
    color: #333333;
}

.calendar-content {
    width: 70vw;
    margin-top: 3rem;
    margin-left: 9rem;
    position: relative;
    color: #333333;
    font-family: 'PingFang SC';
    font-style: normal;
    font-size: 1.0rem;
    font-weight: 700;
}

.calendar-content span {
    width: 14.28%;
    display: block;
    float: left;
    text-align: center;
    line-height: 1.3rem;
    /* margin-left: .6rem;
    margin-right: 3.2vw; */
}

.calendar-content a {
    color: #333333;
}

.content-direction {
    position: absolute;
    top: 2.2rem;
    width: 70vw;
    height: 1vh;
    display: flex;
    min-width: 950px;
}

.direction-body {
    background-color: #D67B60;
    width: 100%;
    height: 100%;
}

.direction-head {
    position: absolute;
    width: 17px;
    height: 17px;
    border-top: 5px solid #D67B60;
    border-right: 5px solid #D67B60;
    transform: rotate(45deg);
    top: -.45rem;
    right: 0;
}

.content-top {
    margin-bottom: 3.8rem;
    min-width: 1050px;
}

.content-bottom {
    min-width: 1050px;
}

/* 内容板块 */
.first-main-content {
    width: 100%;
    min-width: 1066px;
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
}

.first-main-content header {
    width: 100%;
    height: 44px;
    background-color: transparent !important;
}

.first-main-content span {
    font-size: 1.2rem;
    color: #9F181E;
    font-weight: 700;
    line-height: 2rem;
    margin-right: 2rem;
}

.header-line {
    width: 100%;
    background-color: #F49F85;
    height: 11px;
    border-radius: 2rem;
}
/* 校内新闻 */
.school-news {
    width: 40vw;
    margin-left: 5vw;
    position: relative;
    min-width: 550px;
}

.sc-title {
    display: flex;
}

.sc-title-bg-zhu {
    width: 28px;
    height: 30px;
    background-image: url(./img/sune_zhu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 2rem;
    margin-left: 1rem;
}

.sc-title-bg-notice {
    width: 45px;
    height: 32px;
    background-image: url(./img/notice.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: -.4rem;
}

.sc-title-more {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 3px solid #F49F85;
    border-right: 3px solid #F49F85;
    transform: rotate(45deg);
    right: .3rem;
    top: .5rem;
}

.sc-content {
    width: 100%;
}

.sc-content-first {
    width: 100%;
    margin-top: 2rem;
}

.sc-content-first img {
    width: 100%;
    max-height: 450px;
}

.sc-img-title {
    background-color: #D67B60;
    font-size: 1.1rem;
    color: #F8F2F2;
    font-weight: 700;
    min-height: 47px;
    text-align: center;
    line-height: 47px;
    position: relative;
    top: -.3rem;
}

.sc-content-article {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sc-content-article div {
    width: 45%;
    height: 15vh;
    background-color: #fff;
    border-radius: .65rem;
    margin-top: 1.56rem;
    border: 2px solid #9F181E;
    box-shadow: 5px 5px 0 0 #F2DC86;
    display: flex;
    align-items: center;
}

.sc-content-article div span {
    display: block;
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin-left: 1.5rem;
}
/* 通知通告 */
.school-notice {
    width: 40vw;
    margin-left: 5vw;
    position: relative;
    margin-right: 5vw;
    min-width: 550px;
}

.sn-content {
    width: 100%;
    margin-top: 2rem;
}

.sn-content-article {
    width: 100%;
    height: 15.5vh;
    position: relative;
    border-bottom: 1px solid #D67B60;
    margin-bottom: 5.5vh;
}

.sn-content-article img {
    width: 16%;
    height: 70%;
    min-width: 95px;
    max-height: 75px;
    margin: 1rem 0 0 .5rem;
}

.sn-content-article span {
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
    position: absolute;
    top: 5vh;
    margin-left: 2rem;
}

/* 团学咨询 */
.group-learning-consultation header {
    width: 100%;
    background-color: transparent;
    position: relative;
    height: 44px;
}

.gl-consulation {
    width: 100%;
}

.gl-consulation-content {
    width: 88vw;
    margin-left: 6vw;
    height: 15vh;
    display: flex;
    margin-top: 2vh;
    border-bottom: 1px solid #F49F85;
    margin-bottom: 6.5vh;
}

.gl-consulation-content img {
    height: 80%;
    width: 20%;
    max-width: 95px;
    max-height: 71px;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.gl-text span{
    display: block;
    margin-left: 2rem;
}

.gl-text span:nth-child(1) {
    font-size: 1rem;
    color: #333333;
    font-weight: 700;
    margin-top: 2.3rem;
}

.gl-text span:nth-child(2) {
    font-size: .6rem;
    color: #666666;
    font-weight: 400;
    margin-top: .5rem;
}

/* 湘大青年 */
.xtu-young-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.xtu-young {
    width: 40%;
    min-width: 600px;
    height: 336px;
    margin-left: 1.5%;
    margin-top: 5vh;
    position: relative;
}

.xtu-young img {
    width: 100%;
    height: 100%;
}

.young-text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.2rem;
}

.young-text span {
    display: block;
}

.young-text span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: .3rem;
}


.young-text span:nth-child(2) {
    font-size: .7rem;
    font-weight: 400;
    color: #333333;
}

/* 页脚 */
footer {
    width: 100%;
    height: 20vh;
    min-height: 221px;
    background-color: #3D3938;
}